* {
  padding: 0;
  margin: 0;
}
/* navbar start  */
header {
  width: 100%;
  height: 105px;
  color: #ffffff;
  & img {
    display: flex;
    width: 200px;
    padding-left: 20px;
    padding-top: 20px;
  }
  .link {
    display: flex;
    justify-content: center;
    margin-top: -30px;
    & ul {
      display: flex;
      list-style: none;
      & li {
        padding: 0px 10px;
        & a {
          color: black;
          text-decoration: none;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          font-weight: 800;
          font-size: 22px;
        }
      }
    }
  }

  .button-1 {
    float: right;
    margin-top: -30px;
    padding-right: 30px;
    .btn-1 {
      font-size: 22px;
      padding: 4px 10px;
      border-radius: 24px;
      outline: none;
      border: none;
    }
    .btn-2 {
      font-size: 22px;
      padding: 4px 10px;
      border-radius: 24px;
      outline: none;
      border: none;
      background-color: #000000;
      color: #ffffff;
    }
    & img {
      width: 36px;
      padding-left: 200px;
      margin-top: -55px;
    }
  }
}
/* navbar end  */
/* form design  */
.main-2 {
  background: url(img/Rectangle\ 1.png);
  width: 100%;
  height: 760px;
  background-repeat: no-repeat;
  background-size: cover;
  .main-3 {
    position: fixed;
    width: 1000px;
    height: 344px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 17px;
    & h1 {
      text-align: center;
      padding-top: 30px;
    }
    .from {
      display: flex;
      justify-content: center;
      & #button {
        margin-top: 100px;
        display: block;
        position: absolute;

        & #btn-h {
          padding: 10px 267px;
          outline: none;
          border: none;
          background-color: #d4d4d4;
          margin-left: -70px;
          border-radius: 5px;
        }
        #btn-f {
          outline: none;
          border: none;
          padding: 10px 50px;
          padding-right: 40px;
          background-color: #d4d4d4;
          border-radius: 30px;
          margin-right: -90px;
          background-color: #16db65;
        }
      }
    }
    .option {
      & input {
        outline: none;
        border: none;
        background-color: #d4d4d4;
        padding: 10px;
        margin-left: 10px;
        margin-top: 30px;
        border-radius: 5px;
      }
    }
  }
  .zap {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    & button {
      padding: 10px;
      border-radius: 20px;
      outline: none;
      border: none;
      background-color: #d4d4d4;
      text-decoration: underline;
    }
  }
}
/* form end  */
/* drop start  */
.drop {
  #drop {
    width: 100%;
    height: 370px;
    background-color: #fde24f;
    & h1 {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      text-align: center;
      padding-top: 30px;
      font-size: 34px;
    }
    .img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
      object-fit: cover;
      & img {
        width: 80%;
      }
    }
  }
}
/* drop end  */
/* feature  */
.feature {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 680px;
  background-color: #ffffff;
  #feature {
    & button {
      font-size: 22px;
      outline: none;
      border: none;
      margin-top: 100px;
      margin-left: 580px;
      padding: 10px;
      border: 1px solid black;
      border-radius: 30px;
    }
    display: block;
    h1 {
      font-size: 34px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      width: 473px;
      padding-top: 90px;
      padding-left: 100px;
    }
    .f-1 {
      margin-left: -150px;
      & img {
        width: 80px;
        /* position: relative; */
        padding-left: 300px;
        padding-top: 70px;
      }
      .f-1-t {
        margin-left: 100px;
        margin-top: -78px;
      }
      & p {
        width: 300px;
        font-size: 20px;
        padding-left: 190px;
        text-align: center;
        padding-top: 10px;
        color: #535353;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-weight: 700;
      }
      .a {
        font-size: 16px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-weight: bold;

        padding-left: 240px;
        padding-top: 50px;

        & a {
          color: #000000;
        }
      }
    }
    .f-2 {
      padding-left: 300px;
      margin-top: -365px;
      & img {
        width: 80px;
        /* position: relative; */
        padding-left: 300px;
        padding-top: 70px;
      }
      .f-2-t {
        margin-left: 120px;
        margin-top: -78px;
      }
      & p {
        width: 300px;
        font-size: 20px;
        padding-left: 190px;
        text-align: center;
        padding-top: 10px;
        color: #535353;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-weight: 700;
      }
      .a {
        font-size: 16px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-weight: bold;

        padding-left: 220px;
        padding-top: 50px;

        & a {
          color: #000000;
        }
      }
    }
    .f-3 {
      padding-left: 800px;
      margin-top: -367px;
      padding-right: 300px;
      & img {
        width: 80px;
        /* position: relative; */
        padding-left: 300px;
        padding-top: 70px;
      }
      .f-3-t {
        margin-left: 80px;
        margin-top: -78px;
      }
      & p {
        width: 300px;
        font-size: 20px;
        padding-left: 190px;
        text-align: center;
        padding-top: 10px;
        color: #535353;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-weight: 700;
      }
      .a {
        font-size: 16px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-weight: bold;

        padding-left: 240px;
        padding-top: 50px;

        & a {
          color: #000000;
        }
      }
    }
  }
}
.buy-sell {
  width: 100%;
  height: 700px;
  background-color: #ffffff;
  .buy {
    & button {
      font-size: 22px;
      margin-left: 200px;
      margin-top: 40px;
      padding: 10px;
      border-radius: 15px;
      outline: none;
      border: none;
      background-color: #000000;
      color: #d4d4d4;
    }
  }
  & h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    padding-left: 100px;
    padding-top: 40px;
  }
  .c {
    padding-top: 30px;
    .c1 {
      margin-top: 30px;
      border: 2px solid rgb(108, 108, 108);
      width: 400px;
      margin-left: 100px;
      border-radius: 10px;
      padding-bottom: 40px;
      & img {
        width: 74px;
        padding-left: 10px;
        margin-top: 10px;
      }
      & h1 {
        margin-top: -100px;
        font-size: 20px;
        display: flex;
      }
      & h2 {
        font-size: 15px;
        padding-left: 200px;
        margin-top: -16px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }
      & h3 {
        font-size: 15px;
        padding-left: 330px;
        margin-top: -16px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }
    }
  }
  .line {
    width: 1px;
    height: 610px;
    background-color: #535353;
    margin-left: 50%;
    margin-top: -550px;
  }
  .sell {
    float: right;
    margin-top: -650px;
    padding-right: 100px;
    & button {
      font-size: 22px;
      margin-left: 200px;
      margin-top: 40px;
      padding: 10px;
      border-radius: 15px;
      outline: none;
      border: none;
      background-color: #000000;
      color: #d4d4d4;
    }
  }
}
/* dr  */
.dr {
  width: 100%;
  height: 600px;
  background-color: #cfbaff;
  & h1 {
    text-align: center;
    font-size: 65px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    padding-top: 100px;
  }
  & button {
    outline: none;
    border: none;
    padding: 10px 30px;
    font-size: 22px;
    border-radius: 20px;
    margin-left: 50%;
    margin-top: 100px;
    background-color: #000000;
    color: #d4d4d4;
    text-align: center;
    padding-left: 20px;
  }
}
.fo {
  width: 100%;
  height: 600px;
  background-color: #000000;
  & img {
    padding-top: 100px;
    padding-left: 100px;
  }
  .li-1 {
    padding-left: 400px;
    margin-top: -50px;
    & h1 {
      color: #ffffff;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 28px;
    }
    & p {
      color: white;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  }
  .li-2 {
    padding-left: 700px;
    margin-top: -310px;
    & h1 {
      color: #ffffff;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 28px;
    }
    & p {
      color: white;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  }
  .li-3 {
    padding-left: 1000px;
    margin-top: -310px;
    & h1 {
      color: #ffffff;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 28px;
    }
    & p {
      color: white;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  }
  & .p {
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 16px;
    text-align: center;
    padding-top: 60px;
  }
}
